asgiref==3.4.1
certifi==2024.8.30
cffi==1.15.1
charset-normalizer==2.0.12
cryptography==40.0.2
defusedxml==0.7.1
Django==3.2.25
django-allauth==0.53.1
django-crispy-forms==1.13.0
idna==3.10
oauthlib==3.2.2
pycparser==2.21
PyJWT==2.4.0
python3-openid==3.2.0
pytz==2024.2
requests==2.27.1
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.4.4
typing_extensions==4.1.1
urllib3==1.26.20
