.remove-default-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.post-img {
    float: left;
    margin-right: 1rem;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.post-video {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.child-comment {
    margin-left: 2rem;
}

