{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 col-sm-6">
                <a href="{% url 'post-list' %}" class="btn btn_light">Back to Feed</a>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom">
                <p><strong>{{ post.author }}</strong> {{ post.created_on }} </p>
                <div class="position-relative">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" class="post-image" />
                    {% endif %}
                    <p>{{ post.body }}</p>
                    <div class="d-flex flex-row">
                        <form method="POST" action="{% url 'like' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="background-color: transparent; border: none; box-shadow: none;" type="submit">
                                <i class="fas fa-heart"><span> {{ post.likes.all.count }}</span></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-grid gap-2">
                        <button class="btnb btn-success mt-3">Submit !</button>
                    </div>
                </form>
            </div>
        </div>
        {% for comment in comments %}
        <div class="row justify-content-center mt-3 mb-5 border-bottom">
            <div class="col-md-5 col-sm-12">
                <p>
                    <strong>{{ comment.author }}</strong> {{ comment.created_on }}
                </p>
                <p>{{ comment.comment }}</p>

                <div class="d-flex flex-row">
                    <form method="POST" action="{% url 'comment-like' post.pk comment.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="background-color: transparent; border: none; box-shadow: none;" type="submit">
                            <i class="fas fa-heart"> <span>{{ comment.likes.all.count }}</span></i>
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 col-sm-6">
                <a href="{% url 'index' %}" class="btn btn_light">Back to Home Page</a>
            </div>
        </div>
        <div>
            <p><strong>{{ comment.author }}</strong> {{ comment.created_on }}
            </p>
            <div class="row justify-content-center mt-3">
                <p class="col-md-5 col-sm-12 border-bottom position-relative">Log in or Sign up to Comment that post !!</p>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}
